.mobile_footer {
  display: none;
}

.mobile_catalogs {
  display: none;
}

.mobile_block {
  width: 0;
  height: 0;
  overflow: hidden;
}

.search_mobile_item {
  width: 0;
  height: 0;
  overflow: hidden;
}


@media (max-width: 576px) {
  .footer {
    display: none;
  }

  .mobile_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 1005;
    background: #fff;
    width: 100%;
    padding: 8px 12px;
    /*transform: translateY(75px);*/
    transition: 0.2s;
  }

  section.catigories, div.search_box {
    display: none !important;
  }

  .main {
    padding-top: 0 !important;
  }

  .mobile_footer.scroll-up {
    transform: translateY(75px);
  }

  .mobile_footer .f-mobile-link {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #83878B;
  }

  .mobile_footer .f-mobile-link img {
    filter: grayscale(99%) brightness(127%) saturate(1000%) contrast(106%) invert(40%);
  }

  .mobile_footer .f-mobile-link span {
    font-size: 13px;
  }

  .mobile_footer .f-mobile-links {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile_footer .f-mobile-links .mobile-logo {
    background: #15CA72;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -24px;
    cursor: pointer;
  }

  .mobile_footer .f-mobile-links .mobile-logo img {
    margin-bottom: 4px;
  }

  .mobile_footer .f-link-active img {
    filter: none;
  }

  .mobile_footer .f-link-active span {
    color: #15ca72;
  }


  .mobile_block {
    background: #15ca72;
    width: 100%;
    height: 0;
    position: fixed;
    overflow-y: auto;
    bottom: 0;
    z-index: 1054;
    transition: 0.5s;
    visibility: hidden;
  }

  .mobile_block.active_block {
    width: 100%;
    height: 100vh;
    visibility: visible;
  }

  .mobile_block::-webkit-scrollbar {
    width: 0;
  }

  .mobile_block .block_none {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
  }

  .mobile_block .block_none button {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile_block .block_none button:focus {
    box-shadow: none;
  }

  .mobile_block .block_none button img {
    position: absolute;
    width: 14px;
    height: 14px;
  }

  .mobile_block .mobile_menu {
    margin-top: 15px;
  }

  .mobile_block .mobile_menu li {
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .mobile_block .mobile_menu li a {
    display: flex;
    align-items: center;
  }

  .mobile_block .mobile_menu li a .mobile_link_icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  .mobile_block .mobile_menu li a span {
    color: #fff;
    font-size: 17px;
    line-height: 27px;
    font-family: Roboto-Regular;
  }

  .mobile_block .mobile_menu li .simplex_mobile {
    padding: 20px 0 24px 0;
  }

  .mobile_block .mobile_lang a {
    padding-bottom: 16px;
  }

  .mobile_block .mobile_lang a img {
    margin-right: 8px;
  }

  .mobile_block .lang_right {
    display: none;
  }

  .mobile_block .active_lang .lang_right {
    display: block;
  }

  .mobile_block .mobile_lang a:last-child {
    padding-bottom: 0;
  }

  .message_notification {
    background: #FF4133;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .message_notification i {
    color: #fff;
    font-style: normal;
    line-height: 21px;

  }

  .mobile_catalogs {
    display: block;
  }

  .mobile_catalogs .advertising {
    height: 200px;
  }


  .scroll_block::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .catalog_categories::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .catalog_categories {
    padding: 20px 16px;
    overflow-x: auto;
  }

  .catalog_categories .cat_item {
    color: #6B3BED;
    padding: 8px 10px;
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    min-width: max-content;
  }


  .catalog_p.fixed_p {
    padding-top: 88px;
  }


  .catalog_categories.fixed {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    background: #f4f6f7;
    z-index: 999;
    padding: 16px !important;
    width: 100%;
  }

  .scroll_block {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
  }

  .catalog_categories .cat_item.active {
    color: #fff;
    background: #6B3BED;
  }

  .categories_children {
    display: grid;
    grid-template-columns: repeat(4, auto [col-start]);
    padding: 0 16px 16px 16px;
    justify-items: stretch;
    align-self: stretch;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 70px;
  }

  .children_item {
    width: 100px;
  }

  .children_item p {
    color: #000;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    line-height: 15px;

  }

  .item_img {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .children_item .item_img img {
    width: 35px;
    height: 35px;
  }

  .search_mobile_item {
    background: #F4F6F7;
    width: 100%;
    height: 0;
    position: fixed;
    overflow-y: auto;
    bottom: 0;
    z-index: 1000;
    transition: 0.5s;
    visibility: hidden;
  }


  .search_mobile_item .search_top {
    height: 56px;
    width: 100%;
    background: #15ca72;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .search_mobile_item .search_top button {
    position: absolute;
    right: 10px;
  }

  .search_mobile_item .search_top h4 {
    color: #fff;
    font-size: 20px;
  }

  .search_mobile_item.active_search {
    width: 100%;
    height: 100vh;
    visibility: visible;
  }


  .mobile_search {
    padding: 16px;
  }

  .mobile_search .search_input {
    margin-top: 16px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .mobile_search .search_input {
    margin-top: 16px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .mobile_search .search_input input {
    border-radius: 6px !important;
    border: none !important;
    font-size: 16px;
    height: 48px;
    font-family: Roboto-Regular;
    color: #000;
  }
  .mobile_search .search_input input:focus {
    box-shadow: none !important;
  }
  .mobile_search .search_input .search_button:focus {
    box-shadow: none !important;
  }

  .mobile_search .search_input input::placeholder {
    font-family: Roboto-Regular;
    color: #000;
  }

  .mobile_search .search_input input {
    border-radius: 6px !important;
    border: none !important;
  }

  .mobile_search .search_input .search_button {
    position: absolute;
    right: 0;
    background: #6B3BED;
    color: #fff;
    font-size: 20px;
    width: 48px;
    height: 48px;
    border-top-right-radius: 6px !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    z-index: 99;
  }

  .mobile_search .selector {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile_search .selector-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile_search .selector-item_radio {
    appearance: none;
    display: none;
  }

  .mobile_search .selector-item_label {
    position: relative;
    text-align: center;
    transition-duration: .5s;
    transform: none;
    padding: 8px 10px;
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 8px;
    font-family: Roboto-Regular;
    color: #A2A5A8;
    border: 1px solid #ddd;
  }

  .mobile_search .selector-item_radio:checked + .selector-item_label {
    background-color: #15ca72;
    color: #fff;
    border: none;
  }

}

@media (max-width: 420px) {
  .categories_children {
    grid-template-columns: repeat(3, auto [col-start]);
  }

  .categories_children .children_item {
    width: 110px;
  }

  .categories_children .children_item .item_img {
    width: 95px;
    height: 95px;
    margin: 8px auto;
  }

  .categories_children .children_item img {
    width: 50px;
    height: 50px;
  }
}


li {
  list-style: none;
}
